@font-face {
  font-family: "NeutralFace";
  src: url("../fonts/NeutralFace.otf") format("opentype");
  }

@font-face {
  font-family: "NeutralFaceBold";
  src: url("../fonts/NeutralFace-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Ilyas";
  src: url("../fonts/Ilyas.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: blue;
}

.mainScreen{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #232323;
  background-size: cover;

  display: grid;
  grid-template-columns: 3vw 55vw 17vw 25vw;
  grid-template-rows: 20vh 50vh 30vh;

}

/* Image a droite de l'écran */
.centerRightImg{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url('../img/fabrics-blue.jpg');
  background-size: cover;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 200%;
}


/* Styles Css pour le nom de marque à droite */
.brandRightName{
  position: relative;
  color: #f8f1e6;
  font-family: "Ilyas";
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;

  /* display: flex; */
  /* align-items: flex-end; */
/*
  transform-origin: bottom right; */
  /* height: 100vh; */
}

.sbrandRightName{
  /* transform-origin: top left; */
  /* border: solid; */
  /* position: absolute;
  bottom: 0px; left: 0; */
  /* height: 100%; */
  /* transform: rotate(-90deg); */
  font-size: 300px;
}

.sbrandRightName > div {
  height: 290px;
  width: 140px;
  position: absolute;
  bottom: 00px; right: 0;
  border: solid;
  transform-origin: center;
  transform: rotate(-90deg);
}
